body {
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Space Mono', monospace;
}

.not-found {
    color: black;
    width: 100%;
    height: 25px;
    font-size: 24px;
    display: flex;
    margin-top: 40px;
    font: inconsolata;
    font-weight: 700;

}

.container-main {
    width: 60vw;
    margin: 0 auto;
}

.container {
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    gap: 115px;
}

.espanta-pajaros img {
    margin-top: 200px;
    width: 600px;
}

.malas-noticias h1 {
    font-size: 64px;
    line-height: 94.78px;
    letter-spacing: -2.24px;
}

.malas-noticias p {
    font-family: Space Mono;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.84px;
    color: #4F4F4F;
}

button {
    width: 216px;
    height: 68px;
    flex-shrink: 0;
    background: #333;
    color: #FFF;
font-family: Space Mono;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.49px;
text-transform: uppercase;
margin-top: 64px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
@media only screen and (max-width: 768px) {
    
    .container-main {
        width: 80vw;
        margin: 0 auto;
    }
    .espanta-pajaros img {
        width: 375px;
        margin-top: 80px;
    }
    .container {
        display: block;
        width: 100%;
    }
    .malas-noticias h1 {
        font-size: 48px;
    }
    .malas-noticias p {
        margin-top: 30px;
    }
    button {
    margin-top: 66px;
    }

}